<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
   
    
  <div class="container">
    <%-body%>
  </div>
  <script>

    let playbtn=document.querySelector("#playbtn");
    let music=document.querySelector("#music");
    var video = document.getElementById("bg-video");
   playbtn.addEventListener("click", function () {
  
  if(music.paused){
    music.play();
    playbtn.textContent="Play Music 💖";
  }else{
    music.pause();
    playbtn.textContent="Mute Music 🔇";
  }
   

    video.play();
})
</script>
  
    
</body>
</html>